/*for the side Note style of gist code*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #d7edef;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

/*for the gist height and width*/
.gist {
    /*max-width:350px;*/
    overflow:auto;
}

.gist .blob-wrapper.data {
    max-height:400px;
    overflow:auto;
}
